




<%= form_for @fotografo , html: { multipart: true } do |f| %>
    
  <p id="pe">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
  <p id="pe">
    <%= f.label :nombre_pila %><br>
    <%= f.text_field :nombre_pila %>
  </p>
  <p id="pe">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </p>
  <p id="pe">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </p>
  <p id="pe">
    <%= f.label :fecha_nacimiento %><br>
    <%= f.text_field :fecha_nacimiento %>
  </p>
  <p id="pe">
    <%= f.label :rut %><br>
    <%= f.text_field :rut %>
  </p>
  <p id="pe">
    <%= f.label :email %><br>
    <%= f.text_field  :email %>
  </p>
 
  <p id="pe">
    <%= f.label :comentarios %><br>
    <%= f.text_area  :comentarios %>
  </p>
 
  <p id="pe">
    <%= f.submit %>
   

  </p>


<% end %>




  

