
<!-- section start-page -->
<section class="start-page parallax-background" id="home">
  
    <div class="opacity"></div> <!-- Opacity color -->
      <div class="content">
        <div class="text">
        
          <div class="logo"><%= image_tag("logo.png") %></div>
        
          <h1>lo eterno en un segundo</h1><hr/>
          <p>Familiarizase con nosotros</p>
          
          <a href="#about-us"><div class="read-more">Ver mas</div></a>
          
        </div>
        <div class="arrow-down"></div>
      </div>
  
  </section>

  <!-- portoflio-->

  <section class="portfolio" id="portfolio">


    <div class="portfolio-margin">
    
      <h1>UN SEGUNDO DE TU VIDA</h1>
      <hr/> 
    
    <!-- 1 item portoflio-->
    
        <ul class="grid">
        
          <li>
            <a href="#">
              <%= image_tag("portfolio/1.png", :alt => "Portfolio item") %>
                <div class="text">
                  <p>PORTFOLIO 1</p>
                  <p class="description">Your text here...</p>   
              </div>
            </a>
          </li>
          
          <!-- 2 item portoflio-->
          
          <li>
            <a href="#">
              <%= image_tag("portfolio/2.png", :alt => "Portfolio item") %>
                <div class="no-text">
                  <p></p>
                  <p class="description"></p>               
              </div>
            </a>
          </li>      

          <!-- 3 item portoflio-->
          
          <li>
            <a href="#">
              	<%= image_tag("portfolio/3.png", :alt => "Portfolio item") %>
                <div class="no-text">
                  <p></p> 
                  <p class="description"></p>           
              </div>
            </a>
          </li>      


          <!-- 4 item portoflio-->
          
          <li>
            <a href="#">
              <%= image_tag("portfolio/4.png", :alt => "Portfolio item") %>
                <div class="no-text">
                  <p></p> 
                  <p class="description"></p>         
              </div>
            </a>
          </li>    

          <!-- 5 item portoflio-->
          
          <li>
            <a href="#">
              <%= image_tag("portfolio/5.png", :alt => "Portfolio item") %>
                <div class="no-text">
                  <p></p> 
                  <p class="description"></p>            
              </div>
            </a>
          </li>    
          

          <!-- 6 item portoflio-->
          
          <li>
            <a href="#">
              <%= image_tag("portfolio/6.png", :alt => "Portfolio item") %>
                <div class="text">
                  <p>PORTFOLIO 6</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>         
           
         <!-- 7 item portoflio-->
          
          <li>
            <a href="#">
              <%= image_tag("portfolio/7.png", :alt => "Portfolio item") %>
                <div class="text">
                  <p>PORTFOLIO 7</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>    
          
          <!-- 8 item portoflio-->
          
          <li>
            <a href="#">
              <%= image_tag("portfolio/8.png", :alt => "Portfolio item") %>
                <div class="text">
                  <p>PORTFOLIO 8</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>          
          
          <!-- 9 item portoflio-->
          
          <li>
            <a href="#">
            	<%= image_tag("portfolio/9.png", :alt => "Portfolio item") %>
                <div class="text">
                  <p>PORTFOLIO 9</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>          

          <!-- 10 item portoflio-->
          
          <li>
            <a href="#">
              <%= image_tag("portfolio/10.png", :alt => "Portfolio item") %>
                <div class="text">
                  <p>PORTFOLIO 11</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>         

          <!-- 11 item portoflio-->
          
          <li>
            <a href="#">
              <%= image_tag("portfolio/11.png", :alt => "Portfolio item") %>
                <div class="text">
                  <p>PORTFOLIO 11</p> 
                  <p class="description">Your text here...</p>           
              </div>
            </a>
          </li>          
 
 
          
        </ul>  
   
   <a href="#"><div class="read-more">VER MAS</div></a>
   
   </div>   
         
   </section>

  
   <div class="clear"></div>

   



